# Delphi specific
*.dcu
*.dcp
*.~*
__history/
__recovery/
*.local
*.identcache
*.res
*.stat
*.ddp
*.exe
*.log
*.tvsconfig
*.cfg
*.il*
*.tds
*.bak
*.drc
*.dsk
*.identcache
*.ipch
*.launches
*.map
*.o
*.obj
*.pch
*.remote-sync.json
*.remote-sync.json-locked
*.so
*.user
*.project
*.groupproj
*.deployproj
*.local
*.opens
*.structure
*.identcache
*.pyc
*.pyo
*.pyc
*.pyo
*.ipch
*.tvsconfig
*.code-workspace


#others

*.ico
*.iss
IbExpert/
